.App {
  margin: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem;
  margin-top: 1rem;
}

li.high {
  border: 2px solid #f2360c;
}

li.low {
  border: 2px solid #1a681e;
}

input {
  padding: 0.5rem;
}

input[type='submit'] {
  color: white;
  background-color: black;
  border: 2px solid black;
}