.App {
  margin: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem;
  margin-top: 1rem;
  border: 2px solid black;
}

input {
  padding: 0.5rem;
}

input[type='submit'] {
  color: white;
  background-color: black;
  border: 2px solid black;
}